<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>smallTrip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>720E7FA61C59EA2F00B865D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720E7FBF1C59EA3000B865D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720E7FCA1C59EA3000B865D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
